<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="nugetCmdPath" value="c:\Program Files (x86)\nuget\nuget"/>
    <add key="source" value="C:\Users\_dev\dev_packages"/>
  </appSettings>
</configuration>